@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
    --background: #331707;
    --foreground: #171717;
}

@media (prefers-color-scheme: dark) {
    :root {
        --background: #0a0a0a;
        --foreground: #ededed;
    }
}



@font-face {
    font-family: "Times New Normal";
    src: url("/fonts/TimesNewNormal-Regular.woff2") format("woff2"),
        url("/fonts/TimesNewNormal-Regular.woff") format("woff");
    font-weight: normal;
    font-style: normal;
}

body {
    font-family: "Times New Normal", serif;
}