.cube-container {
    width: 200px;
    height: 200px;
    perspective: 1000px;
}

.cube {
    width: 200px;
    height: 200px;
    position: relative;
    transform-style: preserve-3d;
    animation: rotateCube 6s infinite linear;
}

.face {
    position: absolute;
    width: 200px;
    height: 200px;
    background: #fff;
    border: 2px solid #ddd;
}

.face img {
    width: 100%;
    height: 100%;
    object-fit: cover;
    border-radius: 10px;
}

/* Positioning Each Face */
.front {
    transform: translateZ(100px);
}

.back {
    transform: rotateY(180deg) translateZ(100px);
}

.right {
    transform: rotateY(90deg) translateZ(100px);
}

.left {
    transform: rotateY(-90deg) translateZ(100px);
}

.top {
    transform: rotateX(90deg) translateZ(100px);
}

.bottom {
    transform: rotateX(-90deg) translateZ(100px);
}


@keyframes rotateCube {
    0% {
        transform: rotateX(0deg) rotateY(0deg);
    }

    25% {
        transform: rotateX(90deg) rotateY(0deg);
    }

    50% {
        transform: rotateX(90deg) rotateY(90deg);
    }

    75% {
        transform: rotateX(0deg) rotateY(90deg);
    }

    100% {
        transform: rotateX(0deg) rotateY(360deg);
    }
}